html {
  text-align: center;
  background-color: var(--bg-colour);
}

.button1 {
  background-color: var(--fg-colour);
  border: none;
  padding: 15px 32px;
  font-size: 20px;
  color: --fg-text-colour;
  border-radius: 12px;
}


.button1:hover {
  background-color: var(--fg-colour-l);
}

.button1:active {
  background-color: var(--fg-colour-ll);
}