body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-colour: #282c34;
  --fg-colour: #61dafb;
  --fg-colour-l: #74edff;
  --fg-colour-ll: #a4fdff;
  --bg-text-colour: white;
  --fg-text-colour: var(--bg-colour);
}
